@*@model Models.Posts*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .parallax {
            background-image: url('/Content/Images/BackgroundBook.jpg');
            min-height: 40vh;
            /*background-attachment: fixed;
            background-position: center;*/
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }


        .blog_time li {
            display: inline-block;
            margin-right: 5px;
        }

            .blog_time li a {
                border: 1px solid #8e8e8e;
                line-height: 25px;
                text-align: center;
                padding: 0px 8px;
                border-radius: 12.5px;
                font-size: 10px;
                font-family: "Heebo", sans-serif;
                font-weight: normal;
                display: inline-block;
                color: #8e8e8e;
                background-color: #fff;
            }

            .blog_time li .replys {
                background-color: #3a3d3c;
            }

                .blog_time li .replys:hover {
                    background-color: #bdc1c1;
                    color: #3a3d3c;
                }

            .blog_time li a i {
                padding-right: 6px;
            }

        .media a:hover {
            color: #0471A5;
        }

        .searchs {
            border: 1px solid #8e8e8e;
        }

        h3 {
            font-size: 18px;
        }

            h3 a {
                color: #607d8b;
            }

        ul li a {
            color: #607d8b;
        }

        .reply {
            border: 1px solid #d7d7d7;
            border-radius: 12.5px;
            background-color: #334D5D;
            /*ECF0F1*/
        }

        #search {
            width: 30px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('/Content/Images/search.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            float: right;
        }

            #search:focus {
                width: 100%;
            }

        .card {
            background-color: #DEDEDE;
            /*#F3F1F0*/
        }

        .myRaw p {
            color: #000;
        }

        footer {
            background-color: rgba(44, 62, 80, 1.0);
            width: 100%;
            bottom: 0;
            font-weight: lighter;
            color: white;
        }

        .footerHeader {
            width: 100%;
            padding: 1em;
            background-color: rgba(52, 73, 94,1.0);
            text-align: center;
            color: white;
        }

        footer h3 {
            font-weight: lighter;
        }

        footer ul {
            padding-left: 5px;
            list-style: none;
        }

        footer p {
            text-align: justify;
            font-size: 12px;
        }

        footer iframe {
            width: 100%;
            position: relative;
            height: 170px;
        }

        .sm {
            list-style: none;
            overflow: auto;
        }

            .sm li {
                display: inline;
                padding: 5px;
                float: left;
            }

                .sm li a img {
                    width: 32px;
                }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="fix-header">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header" style="background-color: #0471A5">
            @*#00bfff #8D9092*@
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header" style="background-color: #0471A5">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <!-- Logo icon -->
                        <b><img src="~/Content/Images/bookgroup.png" class="dark-logo" style="height: 48px; margin-bottom: 15px;" /></b>
                        <!--End Logo icon -->
                        <!-- text -->
                        <span style="font-size:24px; color:#F8F8F8;">DIỄN ĐÀN TRAO ĐỔI</span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item">

                        </li>
                    </ul>
                    <div id="login">
                        @*@Html.Partial("_LoginPartial")*@
                        @Html.Action("_LoginPartial", "Account")
                    </div>
                </div>
            </nav>
        </div>
        <div class="pagewrapper" style="background-color: #334D5D">
            @*#ECF0F1 #31281F*@
            @*<div class="parallax">
        </div>*@
            <div class="container-fluid">
                <div class="row page-titles" style="background-color: #F3F1F0;">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-primary">@Html.MvcSiteMap().SiteMapPath()</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <input type="text" class="form-control" name="Title" id="search">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">

                        <div id="main" class="SinglePost">
                            @RenderBody()
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-title">
                                <h4><strong>Chuyên mục</strong></h4>
                                <hr style="background-color: #0471A5" />
                            </div>
                            <ul>
                                @Html.Action("ListCategories", "Home")
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card-title">
                                <h4><strong>Bài mới nhất</strong></h4>
                                <hr style="background-color: #0471A5" />
                            </div>
                            @Html.Action("_RecentPartial", "Home")
                        </div>
                        <div class="card">
                            <div class="card-title">
                                <h4><strong>Bài xem nhiều</strong></h4>
                                <hr style="background-color: #0471A5" />
                            </div>
                            @Html.Action("_PopularPartial", "Home")
                        </div>
                        <div class="card">
                            <div class="card-title">
                                <h4><strong>Chủ đề</strong></h4>
                                <hr style="background-color: #0471A5" />
                            </div>
                            <ul>
                                @Html.Action("ListTopics", "Home")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Container fluid  -->
            <!-- footer -->
            @*<footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>*@
            <footer style="margin-bottom: 0px; padding-top:0px;">
                <div class="footerHeader " style="background-color: #0471A5"></div>
                <div class=" row">
                    <div class="col-md-4" style="padding-left: 80px;">
                        <h3 style="color:white; font-weight: bold;">About us</h3>
                        <p style="color:white;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3 style="color:white; font-weight: bold;">Our Location </h3>
                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d433868.0837064906!2d35.66744174160663!3d31.836036762053016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b5fb85d7981af%3A0x631c30c0f8dc65e8!2sAmman!5e0!3m2!1sen!2sjo!4v1499168051085" sytle="" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122445.89064300105!2d107.5070720637126!3d16.453543460502715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a115e1a7935f%3A0xbf3b50af70b5c7b7!2sHu%E1%BA%BF%2C+Thua+Thien+Hue%2C+Vietnam!5e0!3m2!1sen!2sjo!4v1526283150810" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4" style="padding-right: 80px;">
                        <h3 style="color:white; font-weight: bold;">Contact Information</h3>
                        <ul>
                            <li>Phone : 0165 544 5856</li>
                            <li>E-mail : caohoang.tg@gmail.com</li>
                        </ul>
                        <p style="color:white;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                        <ul class="sm">
                            <li><a href="https://www.facebook.com/juboy.knight"><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a></li>
                            <li><a href="#"><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-responsive"></a></li>
                            <li><a href="#"><img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-responsive"></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
            <!-- End footer -->
        </div>
        <div class="modal in" id="login-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            //var idleInterval = setInterval("reloadPage()", 20000);
            String.prototype.repeat = function (num) {
                return new Array(num + 1).join(this);
            }
            var filter = ['ass', 'fuck', 'dm', 'sml', 'cc', 'cmn'];
            $('span.timeago').timeago();
            CheckLike();
            $(".anchorLogin").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("_PartialLogin", "Account")',
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#login-modal').modal(options);
                        $('#login-modal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $(".anchorRegister").click(function () {
                var $buttonClicked = $(this);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("_RegisterPartial", "Account")',
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#login-modal').modal(options);
                        $('#login-modal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $(document).on("click", "#ChangePass", function () {
                //var $buttonClicked = $(this);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("_ChangePasswordPartial", "Account")',
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#login-modal').modal(options);
                        $('#login-modal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#myModalContent").on('click', "#closbtn", function () {
                $('#login-modal').modal('hide');
            });
            //$("#closbtn").click(function () {
            //    console.log("da kcih");
            //    $('#myModal').modal('hide');
            //});
            $(document).on("click", ".submit", function () {
                var data = new FormData;
                data.append("Email", $(".Email").val());
                data.append("Password", $(".Password").val());

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("_PartialLogin", "Account")',
                    //contentType: "application/json; charset=utf-8",
                    data: data,
                    contentType: false,
                    processData: false,
                    //datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#login-modal').modal('hide');
                        $('#login').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed............");
                    }
                });
                return false;
            });
            $(".SinglePost").on("click", ".post", function () {
                var href = $(this).attr("href");
                $.ajax({
                    type: "POST",
                    url: href,
                    success: function (data) {
                        $('#main').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
                return false;
            });
            $(document).on("click", "#newTopic", function () {
                var href = $(this).attr("href");
                $.ajax({
                    type: "GET",
                    url: href,
                    success: function (data) {
                        $('#main').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
                return false;
            });
            $("#search").on("keydown", function (event) {
                if (event.which == 13) {
                    var title = $(this).val();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("Search", "Home")',
                        contentType: "application/json; charset=utf-8",
                        data: { "title": title },
                        datatype: "json",
                        success: function (data) {
                            $("#main").html(data);
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                }
            });

            $('#tabs ul li .tab').click(function () {
                var href = $(this).attr("href");
                $.ajax({
                    type: "GET",
                    url: href,
                    success: function (data) {
                        $(".showTab").html(data);
                    },
                    error: function () {
                        alert("Something went wrong is controller.........");
                    }
                });
                $("#tabs ul li .tab").removeClass("active");
                $(this).addClass("active");
                return false;
            });

            $(".showTab").on("click", "#DelPost", function () {
                var id = $(this).data("id");
                var ps = $(this).parents(".postsingle");
                var r = confirm("Bạn có muốn xóa không!");
                if (r == true) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeletePost", "Home")',
                        data: { "id": id },
                        datatype: "json",
                        success: function (data) {
                            ps.remove();
                        },
                        error: function () {
                            alert("Something went wrong is controller..........");
                        }
                    });
                }
                return false;
            });

            $(".SinglePost").on("click", ".replys", function () {
                $(this).parents(".media-body").children(":last-child").css("display", "block");
                return false;
            });

            $(".SinglePost").on("click", ".sub-reply", function () {
                var href = $(this).attr("href");
                var reply = $(this).parents(".media-body").find(".comment-reply");
                $(".noreply").remove();
                var data = new FormData;
                data.append("CommentId", $(this).parents(".recent-comment").find("#item_CommentId").val());
                data.append("RepComment", $(this).parents(".reply_form").find("#RepComment").val());
                $(this).parents(".reply_form").find("#RepComment").val("");
                $.ajax({
                    type: "POST",
                    url: href,
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (reply.find(".reply").attr("class") == null) {
                            reply.append(data);
                        }
                        else {
                            reply.find(".reply:last-child").after(data);
                        }
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
                return false;
            });

            $(".comment_form").on("click", ".sub-comment", function () {
                var href = $(this).attr("href");
                var data = new FormData;
                var c = true;
                $(".nocomment").remove();
                data.append("PostId", $("#PostId").val());
                //
                var txt = $("#Comment").val();
                for (var i = 0; i < filter.length; i++) {
                    var pattern = new RegExp('\\b' + filter[i] + '\\b', 'g');
                    var replacement = '*'.repeat(filter[i].length);
                    txt = txt.replace(pattern, replacement);
                }
                //
                if ($("#Comment").val() != txt)
                    c = confirm("Bình luận không phù hợp:" + txt);
                if (c == true) {
                    data.append("Comment", txt);
                    $.ajax({
                        type: "POST",
                        url: href,
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            $('#comments').before(data);
                            $("#Comment").val("");
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                }

                return false;
            });
            $(document).on("click", "#Like", function () {
                var data = new FormData;
                var check = $("i", this);
                data.append("PostId", $("#PostId").val());
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Marks", "Home")',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function () {
                        if (check.hasClass("text-danger")) {
                            check.removeClass("text-danger");
                            var n = $("#changemark").text();
                            $("#changemark").text(parseInt(n) - 1);
                            //alert("Đã xóa khỏi danh sách đánh dấu");
                        }
                        else {
                            //alert("Đã thêm vào danh sách đánh dấu");
                            var n = $("#changemark").text();
                            $("#changemark").text(parseInt(n) + 1);
                            check.addClass("text-danger");
                        }

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
                return false;
            });
            $(document).on("click", ".Notifications", function () {
                $(".notify", this).hide();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("_NotifyPartial", "Home")',
                    success: function (data) {
                        $("#menuNotify").append(data);
                    },
                    error: function () {
                        alert("........Dynamic content load failed.");
                    }
                });
            });

            $(document).on("click", "#NoLike", function () {
                alert("Bạn cần đăng nhập!");
            });

            $(document).on("click", "#CreatePost", function () {
                //var data = new FormData;
                //data.append("PostId", $("#PostId").val());
                //data.append("Title", $("#Title").val());
                //data.append("CategoryId", $("#CategoryId").val());
                //data.append("TopicId", $("#TopicId").val());
                //data.append("Description", $("#Description").val());
                //var files = $("#imageBrowsers").get(0).files;
                //if (files.length > 0) {
                //    data.append("ImageFile", files[0]);
                //}
                var title = $("#Title").val();
                var kt = 1;
                if (title.length < 16) {
                    alert("Tiều đề bài viết phải lớn hơn 16 ký tự");
                    return false;
                }
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("CheckTitle", "Home")',
                    data: { "title": title },
                    contentType: false,
                    datatype: "json",
                    success: function (data) {
                        if (data != "") {
                            kt = 0;
                            var cTitle = confirm("Bài viết đã tồn tại. Bạn có muốn xem bài tương tự.");
                            if (cTitle == true) {
                                $("#main .card").remove();
                                $("#main").append(data);
                            }
                        }

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });

                //alert(kt);
                if (kt == 0)
                    return false;
                else
                    return true;
            });

            $(document).on("change", "#imageBrowsers", function () {
                var File = this.files;
                //var image = image[0].name;
                if (File && File[0]) {
                    var file = $("#imageBrowsers").get(0).files;
                    var data = new FormData;
                    data.append("ImageFile", file[0]);
                    $.ajax({
                        type: "POST",
                        url: "/Home/Upload",
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function () {
                            ReadImage(File[0]);
                            alert("sdfsfdsd");
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });

                }
            });
            $(document).on("click", "#CommentDel", function () {
                confirm("Bạn có muốn xóa bình luận không?");
            });
        });


        function ReadImage(file) {
            var reader = new FileReader;
            var image = new Image;
            reader.readAsDataURL(file);
            reader.onload = function (_file) {
                image.src = _file.target.result;
                image.onload = function () {
                    $('#avatar').attr('src', _file.target.result);

                }
            }
        }

        function CheckLike() {
            if ($(".mark:first").is("#Like")) {
                var id = $("#PostId").val();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("CheckMarks", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: { "id": id },
                    datatype: "json",
                    success: function (data) {
                        if (data == "1") {
                           $("#Like i").addClass("text-danger");
                        }
                    },
                    error: function () {
                        //alert("Dynamic content load failed.");
                    }
                });
            }

        }
        var notificationHub = $.connection.notificationHub;
        $.connection.hub.start().done(function () {
            console.log('Notification hub started');
        });

        //signalr method for push server message to client
        notificationHub.client.notify = function (message) {
            if (message && message.toLowerCase() == "added") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetNotificationContacts", "Home")',
                    success: function (data) {
                        if (data == "1") {
                            $('div.notify').show();
                        }
                    },
                    error: function () {
                        //alert("Dynamic content load failed.");
                    }
                });

            }
        }

        function reloadPage() {
            console.log("daaaa");
            location.reload();
            //alert("daload");
        }
    </script>
</body>
</html>
